---
import Icon from './buttons/Icon.astro';
import MenuButton from './buttons/MenuButton.astro';
---
<footer class="w-full h-fit bg-neutral-950 flex justify-center">
<div class="flex flex-col w-full h-fit px-5 py-12 pt-24 sm:px-9 max-w-[1400px] justify-center gap-4 scroll-mt-16 mb-24" id="contact">
    <div class="flex flex-col gap-6">
        
        <div class="flex gap-8 w-full flex-col md:flex-row">
            <div class="flex flex-col w-full gap-4 text-xl text-neutral-500 justify-center items-center text-center sm:items-start sm:text-start">
                <div class="flex flex-col">
                    <h1 class="text-2xl text-neutral-400 font-regular">Ethan Coote</h1>
                    <p class="font-regular">Web Developer</p>
                </div>
                <p>I’m a web developer living in Guelph ON, Canada. I specialize in UI/UX and front-end development.</p>
                <div class="flex gap-4 mt-2">
                    <Icon 
                        href="https://github.com/ethancoote" 
                        src="./images/icons/github-icon.svg"
                        alt="github icon"
                    />
                    <Icon 
                        href="mailto:ecoote456@gmail.com" 
                        src="./images/icons/mail-icon.svg"
                        alt="mailto icon"
                    />
                </div>
            </div>
            <div class="flex flex-col w-full gap-2 text-neutral-500 text-lg items-center sm:items-start">
                <p class="text-neutral-400">Navigation</p>
                <div class="flex flex-col w-fit gap-2 items-center sm:items-start">
                    <MenuButton text="Projects" href="/#projects"/>
                    <MenuButton text="Experience" href="/#experience"/>
                    <MenuButton text="Tech Stack" href="/#stack"/>
                    <MenuButton text="Contact" href="/#contact"/>
                </div>
                
            </div>
        </div>
        <div class="h-[1px] w-full bg-neutral-700"></div>
        <p class="text-lg text-neutral-600 self-center text-center">Copyright © Ethan Coote Web Development</p>
    </div>
</div>
</footer>