---
import Project from './Project.astro';
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-start gap-y-8">
    <Project 
        img="./images/projects/nhlrank.webp"
        title="NHL Rank"
        date="02/2026"
        role="Design & Development"
        text="Filler text for now. This will be a bit longer later. Lets make it a bit longer just so it takes up a couple lines. Lorem ipsum and all that."
        link="https://ethancoote.github.io/NHL-rank/"
    />
    <Project 
        img="./images/projects/pnm.webp"
        title="Painters Near Me"
        date="02/2026"
        role="Design & Development"
        text="Filler text for now. This will be a bit longer later. Lets make it a bit longer just so it takes up a couple lines. Lorem ipsum and all that."
        link="https://interior.paintersnear-me.com/"
    />
    <Project 
        img="./images/projects/trueauto.webp"
        title="True Auto Detailing"
        date="01/2026"
        role="Design & Development"
        text="Filler text for now. This will be a bit longer later. Lets make it a bit longer just so it takes up a couple lines. Lorem ipsum and all that."
        link="https://trueautodetailing.com/"
    />
    <Project 
        img="./images/projects/chalkie.webp"
        title="Chalkie AI"
        date="12/2025"
        role="SEO & Performance Optimization"
        text="Filler text for now. This will be a bit longer later. Lets make it a bit longer just so it takes up a couple lines. Lorem ipsum and all that."
        link="https://chalkie.ai/"
    />
    <Project 
        img="./images/projects/nycurls.webp"
        title="NY Curls"
        date="12/2025"
        role="Design & Development"
        text="Filler text for now. This will be a bit longer later. Lets make it a bit longer just so it takes up a couple lines. Lorem ipsum and all that."
        link="https://landing-page-template-002.web.app/"
    />
    <Project 
        img="./images/projects/bim.webp"
        title="The BIM Builders"
        date="11/2025"
        role="Bug Fixes and UI Updates"
        text="Filler text for now. This will be a bit longer later. Lets make it a bit longer just so it takes up a couple lines. Lorem ipsum and all that."
        link="https://thebimbuilders.com/"
    />
</div>