---
import Project from './Project.astro';
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-start gap-y-8">
    <Project 
        img="./images/projects/nhlrank.webp"
        title="NHL Rank"
        date="02/2026"
        role="Design & Development"
        text="An Elo system to rank NHL teams based on their performance this season. The Elo ranking system removes many of the biases caused by the current NHL point system. "
        link="https://ethancoote.github.io/NHL-rank/"
    />
    <Project 
        img="./images/projects/pnm.webp"
        title="Painters Near Me"
        date="02/2026"
        role="Design & Development"
        text="A landing page for the company ‘Painters Near Me’. Designed to receive paid ad traffic, targeting local customers in the Niagara Falls area."
        link="https://interior.paintersnear-me.com/"
    />
    <Project 
        img="./images/projects/trueauto.webp"
        title="True Auto Detailing"
        date="01/2026"
        role="Design & Development"
        text="A full website for ‘True Auto Detailing’, and auto detailing shop in Cape Girardeau, Missouri. Designed for a ‘high-quality’ look, showing off their social proof and previous work."
        link="https://trueautodetailing.com/"
    />
    <Project 
        img="./images/projects/chalkie.webp"
        title="Chalkie AI"
        date="12/2025"
        role="SEO & Performance Optimization"
        text="Performance and SEO improvements for ‘Chalkie’, an AI company for teachers. Improved Ahrefs health score from 29 to 100, and average lighthouse performance score from 71 to 92."
        link="https://chalkie.ai/"
    />
    <Project 
        img="./images/projects/nycurls.webp"
        title="NY Curls"
        date="12/2025"
        role="Design & Development"
        text="A demo landing page that I built to practise faster development. Made in 4 hours with only HTML, CSS, and JavaScript."
        link="https://landing-page-template-002.web.app/"
    />
    <Project 
        img="./images/projects/bim.webp"
        title="The BIM Builders"
        date="11/2025"
        role="Bug Fixes and UI Updates"
        text="Added new UI components and fixed existing components for ‘The BIM Builders’. Converted existing elements into reusable components, streamlining future updates. "
        link="https://thebimbuilders.com/"
    />
</div>